#home-container {
  display: flex;
  flex-direction: column;
}

#profile-container {
    display: flex;
}

#profile-picture-container {
  width: 350px;
}

#bio-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#bio-container-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bio-heading {
    font-style: italic;
}

#bio-container-description {
    padding: 1em;
}

#profile-picture-container {
  display: flex;
  margin-left: 2em;
  align-items: center;
}

#profile-picture {
  width: 250px;
}
